:root {
    --primary-theme: -webkit-linear-gradient(left, #fe7523, #4c1554);
    --secondary-theme: -webkit-linear-gradient(left, #fe732379, #4c155477);
  }
.me {
    max-width: 150px;
    border: solid 1px black;
    background: -webkit-linear-gradient(left, #00000085, #700f548e);
    
}

.titleSmall {
    display: none !important;
    font-size: x-large;
}

.titleBig {
    font-size: x-large;
}

@media only screen and (max-width: 994px) {
    .titleBig {
        display: none !important;
    }
    .titleSmall {
        display: inline-block !important;
    }
}

.caption {
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 20px;
    max-width: 500px;
}

body {
    background: var(--primary-theme);
    
    text-align: unset;
}

.collapsible {
    max-width: 200px;
}

.parallax-container {
    height: 23rem;
    box-shadow: 10px 2px 50px 20px rgba(0, 0, 0, 0.514);
}

.projects-container {
    box-shadow: 10px 2px 50px 20px rgba(0, 0, 0, 0.514);
    margin-top: 2rem;
}

.parallax-container2 {
    height: 20rem;
}

.nav {
    background: var(--secondary-theme);
}

.slider {
    box-shadow: 10px 2px 50px 20px rgba(0, 0, 0, 0.514);
    margin-bottom: 50px;
    border-radius: 10px;
    border: 5px transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.indicator-item.active {
    background-color: grey !important;
}

.btn-floating {
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 4px;
    min-width: 40px;
    max-height: 100px;
}

.btn-floating:hover {
    background-color: rgba(99, 99, 99, 0.342);
}

.fab:hover {
    background-color: rgba(126, 126, 126, 0.534) !important;
}

.shadow {
    text-shadow: 10px 2px 50px 10px rgba(0, 0, 0, 0.514) !important;
}

.border {
    max-width: 800px;
    border-left: 5px transparent rgba(0, 0, 0, 0.103);
    border-right: 5px transparent rgba(0, 0, 0, 0.103);
    border-top: none;
    border-bottom: 5px transparent rgba(0, 0, 0, 0.103);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 2px 50px 10px rgba(0, 0, 0, 0.514);
    padding-top: 20px;
    padding-bottom: 30px;
}

.border2 {
    border: 5px transparent black;
    margin-top: 100px;
    box-shadow: 10px 2px 50px 10px rgba(0, 0, 0, 0.514);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
    padding: 10px;
}

p {
    margin: 0px;
}

h2 {
    margin: 0px
}

.row {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    margin-top: 0px;
}

.link {
    color: #e0e0e0;
    text-decoration: underline;
}

.sidenav-overlay {
    z-index: 996 !important;
}

.sidenav{
    background: rgb(0, 0, 0);
    border: solid rgba(207, 207, 207, 0.24) 1px;
    border-left: none;
    border-top: none;
}

.sidenav li>a {
    color: #ffffff !important;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

/* width */

::-webkit-scrollbar {
    width: 0px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    width: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.spacing1 {
    margin: 1px
}

.spacingFooter {
    margin-top: 5rem;
}

.spacingBottom {
    margin-bottom: 5rem;
}

.projects {
    
    margin-top: 5rem;
}

.projectBlock {
    margin-bottom: 62rem;
}

.spacingProjectFull {
    margin-top: 27rem;
}